.user-home{
    width:100%;
   padding:1rem;
}

@keyframes slowSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .custom-scrollbar {
    scrollbar-color: orange;
    scrollbar-width: thin;

  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Adjust the width of the scrollbar */
  }
  
  /* Style the thumb of the scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: lightsalmon;
    border-radius: 4px;
  }
  
  /* Style the track of the scrollbar */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: gray;
  }

  .price-range{
    height:6px;
    width:100%;
    background-color: #6c41f0;
    border-radius: 10px;

  }
  .price-range .thumb{
    width:15px;
    height:15px;
    cursor: grab;
    background:blue;
    border-radius: 50%;
    top:-5px;
  }
 
