.user-home{
    width:100%;
   padding:1rem;
}

@keyframes slowSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .custom-scrollbar {
    scrollbar-color: orange;
    scrollbar-width: thin;

  }
  
  .custom-scrollbar::-webkit-scrollbar {
    height: 8px; /* Adjust the width of the scrollbar */
  }
  
  /* Style the thumb of the scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: lightsalmon;
    border-radius: 4px;
  }
  
  /* Style the track of the scrollbar */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: gray;
  }

  .price-range{
    height:6px;
    width:100%;
    background-color: #6c41f0;
    border-radius: 10px;

  }
  .price-range .thumb{
    width:15px;
    height:15px;
    cursor: grab;
    background:blue;
    border-radius: 50%;
    top:-5px;
  }
 
  .filter-box{
   right:-1px;
   top:20px;
    position: absolute;
  }
  .apply-changes-button{
    background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  padding: 6px 12px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for a raised effect */
  transition: background-color 0.3s, color 0.3s;
  }
  .apply-changes-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
 
