*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

.nav{
    width:100%;
    height:12vh;
    display: flex;
    align-items: center;
    background-color: #2c0457;
    position: fixed;
  top: 0;
  left: 0;
  z-index:10000;
}
.nav-text{
  color:white;
  font-weight:500;
  font-family: 'Poppins', sans-serif;
  margin-right: 1.5rem;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  
}

.nav-text.active{
font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  color:#7771eb;
  /* font-weight: bold; */
}
.signup-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #b7b8bd;
 border:none;
  font-weight: 600;
  color: black;
  transition: transform 0.3s;
}

.login-btn{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  background-color: #b7b8bd;
 border:none;
  font-weight: 600;
  color: black;
  transition: transform 0.3s;
}
.signup-btn:hover{
  background-color: white;
}
.login-btn:hover{
  background-color: white;
}
.signup-btn:active {
  transform: scale(0.7);
}
.login-btn:active {
  transform: scale(0.7);
}
.verify-button{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  border:none;
  font-weight: 500;
  color: #fff;
  transition: transform 0.3s;
  background-color: #0f66f2;
}

.verify-button:hover {
  background-color: #1509eb;

}
.verify-button:active {
  transform: scale(0.7);
}

