

.membership{
    width:100%;
    min-height: 95vh;
    padding-top: 12vh;
    padding-left:1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.shiny-gold {
    background: linear-gradient(45deg, #ffd700, #ffcc00);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    color: #fff; /* Set text color to white or another contrasting color */
    padding: 10px; /* Add padding for better readability */
    display: inline-block; /* Prevent the background from taking the full width */
    border-radius: 5px; /* Optional: Add rounded corners */
  }
  .list-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

  .list-text-d{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color:white;
  }

  
  .buy-button {
    margin-top:auto;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffcc00; /* Gold color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .buy-button:hover {
    background-color: #ffd700; /* Lighter gold on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
  }

  .silver-button{
    background-color: #83848a; /* Silver color */
    color: #fff; /* White text color */
    margin-top:auto;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .silver-button:hover{
    background-color: #83848a; /* Lighter gold on hover */
    transform: scale(1.05);
  }

  .diamond {
    margin-top:auto;
    background-color: #00BFFF; /* Light blue (cyan) color often associated with diamonds */
    color: #fff; /* White text color for contrast */
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .diamond:hover {
    background-color: #1E90FF; /* Slightly darker blue on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
  }

  
  
  
  
  
  
  