*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.footer{
    width:100%;
    display:flex;
    align-items: center;
    height:12vh;
    background: lightgreen;
}